---
layout: default
title: bugthing has some notes
---

<ul>
{% if paginator.posts %}
  {% for post in paginator.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
{% endif %}
</ul>

<ul class="paged-navigation">

    {% if paginator.previous_page %}

        <li class="prev">
        {% if paginator.previous_page == 1 %}
            <a href="/" class="btn-default">
        {% else %}
            <a href="/page{{paginator.previous_page}}" class="btn-default">
        {% endif %}
        Prev</a></li>


    {% else %}
      <li class="prev"><a href="#" class="btn-default disabled">Prev</a></li>
    {% endif %}

    <li class="num">Page: {{paginator.page}} of {{paginator.total_pages}}</li>

    {% if paginator.next_page %}
      <li class="next"><a href="/page{{paginator.next_page}}" class="btn-default">Next</a></li>
    {% else %}
      <li class="next"><a href="#" class="btn-default disabled">Next</a></li>
    {% endif %}

</ul>
