<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Benjamin Martin</title>
    <meta name="author" content="Ben Martin" />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="icon" href="/images/favicon.ico"  type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/stylesheet.css" type="text/css" />
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

    <!-- start #header-wrap -->
    <div id="header-wrap">
        <header class="clearfix">
            <a href="/" class="logo">Ben Martin</a>
            <nav class="clearfix">
                <a href="/" class="sel">Posts</a>
                <a href="/about.html">About</a>
            </nav>
            <section id="header-right" class="clearfix">
            </section>
        </header>
    </div>
    <!-- end #header-wrap -->

    <div id="core-wrap">

        <div id="core-content" class="clearfix">
            <br>
            <div id="main-cont-wrap" class="clearfix">

                <section id="left-col">

                    {% for post in site.posts %}

                        <!-- post - begin -->
                        <entry>
                        <div class="story clearfix">
                            <div class="story-content">
                                <div class="details">
                                    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                                    <p>
                                        <span class="timestamp">
                                            <updated>{{post.date | date: "%d %B %Y" }}</updated>
                                            (<id>{{ post.id }}</id>)
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        </entry>
                        <!-- post - end -->

                    {% endfor %}
                    
                    <!-- paged navigation -->
                    <ul class="paged-navigation">
                        <li class="prev"><a href="#" class="btn-default disabled">Prev</a></li>
                        <li class="num">Page 1</li>
                        <li class="next"><a href="#" class="btn-default">Next</a></li>
                    </ul>

                </section> <!-- end #left-col -->
                
                <section id="right-col">
                    <div class="block">
                        <h2>{{ page.title }}</h2>
                      {{ content }}
                    </div>
                </section> <!-- end #right-col -->

            </div> <!-- end #main-cont-wrap -->
            
            <footer>
                <ul class="data">
                    <!-- <li><a href="#">place holder</a></li> -->
                </ul>
            </footer>

        </div> <!-- end #core-content -->

    </div> <!-- end #core-wrap -->

    <!-- javascripts - includes - start -->
    <script src="/javascripts/main.js"></script>
    <!-- javascripts - includes - end -->

</body>
</html>
