<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.email }}">

  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="icon" href="/images/favicon.ico"  type="image/x-icon" />

  <link rel="stylesheet" href="/css/style.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

  <body>
    <!-- start #header-wrap -->
    <div id="header-wrap">
        <header class="clearfix">
            <a href="/" class="logo">Ben Martin</a>
            <nav class="clearfix">
                <!--
                -->
            </nav>
            <section id="header-right" class="clearfix">
            </section>
        </header>
    </div>
    <!-- end #header-wrap -->

    <div id="core-wrap">

        <div id="core-content" class="clearfix">
            <br>
            <div id="main-cont-wrap" class="clearfix">

                <section id="right-col">
                    <div class="block">
                        <h2>{{ page.title }}</h2>
                      {{ content }}
                    </div>
                </section> <!-- end #right-col -->

            </div> <!-- end #main-cont-wrap -->

            <footer>
                <ul class="data">
                    <!-- <li><a href="#">place holder</a></li> -->
                </ul>
            </footer>

        </div> <!-- end #core-content -->

    </div> <!-- end #core-wrap -->
  </body>
</html>
